* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700&display=swap');

body {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background-color: #FFF;
    font-family: 'Open Sans', sans-serif;
    -webkit-tap-highlight-color: transparent;
}

/* DARK-MODE */
.dark-mode {
    background-color: #504747;
}



/* switch  */
.switchBtn {
    position: absolute;
    right: 10%;
    top: 4%;

}

.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
}

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

/* The slider */
.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
}

input:checked+.slider {
    background-color: #e77204;
}

    input:focus+.slider {
        box-shadow: 0 0 1px #2196F3;
    }

    input:checked+.slider:before {
        -webkit-transform: translateX(26px);
        -ms-transform: translateX(26px);
        transform: translateX(26px);
    }

.slider.round {
    border-radius: 34px;
}

.slider.round:before {
    border-radius: 50%;
}

/* ------------------------------------------------------ */

.hidden {
    transition: 0.5 ease-in-out;
    visibility: hidden;
}

.visible {
    visibility: visible;
}

img.under-img {
    filter: blur(20px);
    height: 69%;
    position: absolute;
    width: 92.5%;
}

img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.wrapper {
    position: relative;

    padding: 16px;
    border-radius: 10px;
    background-image: linear-gradient(45deg, #DFE1E6 0%, #F2F3F7 100%);
    box-shadow: 0px 15px 15px -5px #bfc2ca;
}

.cards {
    perspective: 1000px;
    list-style: none;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
}

.card {
    width: 100px;
    height: 100px;
    transform-style: preserve-3d;
    position: relative;
    transition: .25s ease-in-out;
}

.card.rotate180 {
    transform: rotateY(180deg);
}

.card .view {
    backface-visibility: hidden;
    -webkit-backface-visibility: hidden;
    box-shadow: 8px 8px 8px -4px #c8ccd4;
    border-radius: 6px;
    background-color: #fff;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    overflow: hidden;
}

.front-view {
    cursor: pointer;
    font-size: 30px;
    color: #6463ff;
    z-index: 2;
}

.back-view {
    padding: 0px;
    z-index: 1;
    transform: rotateY(180deg);
    pointer-events: none;
}

.card.shake {
    animation: shake 0.35s ease-in-out;
}

@keyframes shake {

    0%,
    100% {
        transform: translateX(0) rotateY(180deg);
    }

    20% {
        transform: translateX(-13px) rotateY(180deg);
    }

    40% {
        transform: translateX(13px) rotateY(180deg);
    }

    60% {
        transform: translateX(-8px) rotateY(180deg);
    }

    80% {
        transform: translateX(8px) rotateY(180deg);
    }
}

.details {
    display: flex;
    background: #fff;
    box-shadow: 0px 15px 15px -5px #bfc2ca;
    padding: 14px 20px;
    margin-top: 25px;
    font-size: 19px;
    border-radius: 6px;
    align-items: center;
}


.details .flips {
    border-right: 1px solid #ccc;
    width: 84px;
    height: 40px;
    display: flex;
    align-items: center;
    font-size: 14px;
}

.details .time {
    border-right: 1px solid #ccc;
    width: 122px;
    margin-right: 28px;
    font-size: 14px;
}

.details span {
    font-weight: bold;
    font-size: 20px;
}

.details .flips span {
    margin-left: 4px;
}

.details .refresh {
    color: #6563ff;
    border: 2px solid #6563ff;
    background: #fff;
    padding: 6px 10px;
    border-radius: 4px;
    font-size: 16px;
    margin-left: auto;
    cursor: pointer;
    transition: .25s;
}

.details .refresh:hover {
    background-color: #6563ff;
    color: white;
}

.card.time-out .back-view {
    opacity: 0.75;
    box-shadow: 0 0 0 0 #000;
}

.card.time-out {
    transform: rotateY(180deg) scale(0.75);
}

.achievement {
    display: flex;
    align-items: center;
    background: #fff;
    box-shadow: 0px 15px 15px -5px #bfc2ca;
    border-radius: 6px;
    transition: all .25s;

    padding: 8px 20px;
    margin-top: 15px;

    height: 0;
    padding: 0 20px;
    opacity: 0;
    visibility: hidden;
    margin-top: 0;
}

.achievement img {
    width: 25px;
    height: 25px;
    margin-right: 10px;
}

.achievement .date {
    font-size: 12px;
    font-weight: bold;
    width: 114px;
}

.achievement .time {
    font-size: 12px;
    color: #a0a0a0;
}

.achievement .flips {
    margin-left: auto;
    font-size: 12px;
    color: #a0a0a0;
}

.achievement .flips span,
.achievement .time span {
    font-size: 14px;
    font-weight: bold;
    color: #000;
}

.achievement.show {
    padding: 8px 20px;
    margin-top: 15px;

    height: 100%;
    opacity: 1;
    visibility: visible;
}

@media (max-width: 575.98px) {
    .card {
        width: 75px;
        height: 75px;
        transform-style: preserve-3d;
        position: relative;
        transition: .25s ease-in-out;
    }

    .details .flips {
        border-right: 1px solid #ccc;
        width: 72px;
        height: 40px;
        display: flex;
        align-items: center;
        font-size: 14px;
    }

    .details .time {
        border-right: 1px solid #ccc;
        width: 112px;
        margin-right: 12px;
        font-size: 14px;
    }

    .achievement .date {
        font-size: 12px;
        font-weight: bold;
        width: 72px;
    }

    .achievement .time {
        font-size: 12px;
        color: #a0a0a0;
    }
}
.dark-mode-icon {
    background-color: #111010 !important;
    color: coral;
    box-shadow: 8px 8px 8px -4px #c72d2d !important;
}
.dark-mode-details,.dark-mode-achievement{
    background: #b29c9c;
    color: cyan;
}